/* Obrubljeni obrazac */
form {
  border: 3px solid #f1f1f1;
  width: 40%;
  position: fixed;
  left: 30%;
  font-family: "Helvetica", "Lucida Console", "Courier New", monospace;
}

/* Ulazi pune širine */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;  
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Postavite stil za sve gumbe */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Dodajte efekt prelaska za gumbe */
button:hover {
  opacity: 0.8;
}

/* Dodatni stil za gumb za poništavanje (crveni) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Centriranje slike avatara */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Slika avatara */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Dodajte padding spremnicima */
.container {
  padding: 16px;
}

/* Tekst "Zaboravljena lozinka" */
span.psw {
  float: right;
  padding-top: 16px;
}

.register {
    float: right;
}

/* Promijenite stilove za span i gumb za poništavanje na vrlo malim ekranima */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
