
    <h2>Sample Form</h2>
    <form action="#" method="POST">
        <!-- Checked Listbox -->
        <fieldset>
            <legend>Select Options:</legend>
            <label><input type="checkbox" name="option1" value="Option 1"> Option 1</label><br>
            <label><input type="checkbox" name="option2" value="Option 2"> Option 2</label><br>
            <label><input type="checkbox" name="option3" value="Option 3"> Option 3</label><br>
            <label><input type="checkbox" name="option4" value="Option 4"> Option 4</label>
        </fieldset>
        <br>
        <!-- Textboxes -->
        <label for="textbox1">Textbox 1:</label>
        <input type="text" id="textbox1" name="textbox1"><br><br>

        <label for="textbox2">Textbox 2:</label>
        <input type="text" id="textbox2" name="textbox2"><br><br>

        <label for="textbox3">Textbox 3:</label>
        <input type="text" id="textbox3" name="textbox3"><br><br>

        <label for="textbox4">Textbox 4:</label>
        <input type="text" id="textbox4" name="textbox4"><br><br>

        <!-- Submit Button -->
        <button type="submit">Submit</button>
    </form>

