
    <h2>CAD software</h2>
    <form action="save-cad" method="POST">
        <!-- Checked Listbox -->
        <fieldset id="cad-list">
            <legend>Odaberite:</legend>
            <label><input type="checkbox" name="option1" value="AutoCAD">AutoCAD</label><br>
            <label><input type="checkbox" name="option2" value="Inventor">Inventor</label><br>
            <label><input type="checkbox" name="option3" value="SolidWorks">SolidWorks</label><br>
            <label><input type="checkbox" name="option4" value="NX">NX</label><br>
            <label><input type="checkbox" name="option4" value="Creo Parametric">Creo Parametric</label><br>
            <label><input type="checkbox" name="option4" value="Revit">Revit</label><br>
        </fieldset>
        <br>
        <figure id="cad-properties">
        <!-- Textboxes -->
        <label for="textbox1">CAD:</label>
        <input type="text" id="cad-name" name="cad-name"><br><br>

        <label for="textbox2">Port:</label>
        <input type="text" id="cad-port" name="cad-port"><br><br>

        <label for="textbox3">Server:</label>
        <input type="text" id="cad-server" name="cad-server"><br><br>

        <label for="textbox4">Product:</label>
        <input type="text" id="cad-product" name="cad-product"><br><br>

        <!-- Submit Button -->
        <button type="submit">Submit</button>
        
    </figure>
    </form>

