<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>CAD License Checker</title>
  <link rel="icon" type="image/x-icon" href="../../public/images/favicon.ico">
  <link rel="icon" type="image/x-icon" href="public/images/favicon.ico">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='../../public/css/login.css'>
  <link rel='stylesheet' type='text/css' media='screen' href='public/css/login.css'>
  <!-- Latest compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src='main.js'></script>
</head>

<form action="../models/login.php" method="post">

  <div class="imgcontainer">
      <img src="../../public/images/img_avatar.jpg" alt="Avatar" class="avatar">
    </div>

  <div class="container">
    <label for="uname"><b>Email</b></label><br>
    <input type="text" placeholder="Unesite email" name="email" required>
    <br>
    <label for="psw"><b>Lozinka</b></label><br>
    <input type="password" placeholder="Unesite lozinku" name="psw" required>

    <button type="submit">Prijava</button>
    <br>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Zapamti me
    </label>

    <span class="register">Nemate račun? <a href="register.html">Registrirajte se</a></span>

  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" onclick="document.location='../../index.php'" class="cancelbtn">Poništi</button>
    <span class="psw">Zaboravljena <a href="#">lozinka?</a></span>
  </div>
</form>