<nav class="cad-nav-tab">
    <button class="tablinks" onclick="document.location='index.php?cad=autocad'">AutoCAD</button>
    <button class="tablinks" onclick="document.location='index.php?cad=inventor'">Inventor</button>
    <button class="tablinks" onclick="document.location='index.php?cad=solidworks'">SolidWorks</button>
    <button class="tablinks" onclick="document.location='index.php?cad=nx'">NX</button>
    <button class="tablinks" onclick="document.location='index.php?cad=creo'">Creo Parametric</button>
    <button class="tablinks" onclick="document.location='index.php?cad=revit'">Revit</button>
</nav>