<nav class="cad-nav-tab">
    <button class="tablinks" onclick="document.location='index.php?page=cad-lics&cad=autocad'">AutoCAD</button>
    <button class="tablinks" onclick="document.location='index.php?page=cad-lics&cad=inventor'">Inventor</button>
    <button class="tablinks" onclick="document.location='index.php?page=cad-lics&cad=solidworks'">SolidWorks</button>
    <button class="tablinks" onclick="document.location='index.php?page=cad-lics&cad=nx'">NX</button>
    <button class="tablinks" onclick="document.location='index.php?page=cad-lics&cad=creo'">Creo Parametric</button>
    <button class="tablinks" onclick="document.location='index.php?page=cad-lics&cad=revit'">Revit</button>
</nav>